@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> LIBRARY </h1>
    <p>
        <a class="btn btn-primary"  asp-controller="Book" asp-action="Apply">APPLY</a>
    </p>
</div>

