@model Book

<div>
    <h3 class="display-4">Book added</h3>
    <div class="btn-group">
        <a class="btn btn-outline-success" asp-action="Index"> Added Books</a>
        <a class="btn btn-success" asp-action="Index" asp-controller="Home"> Home </a>
    </div>
</div>

